# dependency
node_modules

# next.js
.next
out

# RAHASIA — JANGAN pernah di-push
.env
.env.local
serviceAccountKey.json

# data ekspor untuk migrasi (lokal saja)
migrasi/

# lain-lain
.DS_Store
*.log
